.sk-base-control-multi-label {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin-bottom: 5px;

	.sk-base-control-multi-label__label {
		margin-bottom: 0;
	}
}

.sk-base-control-multi-label__units {
	display: flex;
	right: 0;
	top: 0;

	button {
		background: transparent;
		border: 0;
		color: #aaa;
		cursor: pointer;
		font-size: 10px;
		font-weight: 400;
		margin: 0;
		outline: none;
		padding: 0 4px;
		text-transform: uppercase;

		&:hover {
			color: #333;
		}

		&.is-active {
			color: #333;
			text-decoration: underline;
		}
	}
}
