.components-card-list {
	list-style: none;

	&__item {
		list-style: none;
	}

	.components-panel__body-title {
		padding-left: 30px;
		position: relative;

		&:before {
			background: {
				image: url("../icons/drag-icon.png");
				position: center;
				repeat: no-repeat;
				size: contain;
			}
			content: '';
			height: 46px;
			left: 0;
			position: absolute;
			top: 0;
			width: 25px;;
		}
	}
}

.components-card-header {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;

	&__copy {
		flex: 0 0 85%;
		max-width: 85%;
		width: 100%;
	}

	&__cta {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex: 0 0 15%;
		justify-content: center;
		max-width: 15%;
		width: 100%;

		&:hover {
			svg {
				fill: #007cba;
			}
		}
	}
}