.pretty-list {
	li {
		border-radius: 100px;
		padding: 10px 20px 10px 28px;
		position: relative;
		transition: all 0.2s ease;

		&:before {
			bottom: 0;
			font-family: Font Awesome\ 5 Pro;
			height: 15px;
			left: 0;
			line-height: 1;
			margin: auto;
			position: absolute;
			text-align: center;
			top: 0;
			width: 15px;
		}
	}

	&--arrow {
		li:before {
			color: orange;
			content: "\f105";
		}
	}

	&--check {
		li:before {
			color: $default-green;
			content: "\f00c";
		}
	}

	&--star {
		li:before {
			color: orange;
			content: "\f005";
			font-weight: 900;
		}
	}

	&--bullet {
		li:before {
			content: "\f192";
			font-weight: 300;
		}
	}
}

body .pretty-list ul li {
	list-style-type: none;
	margin: 0;
}

