.rtl {
	.pretty-list {
		li {
			padding: 10px 28px 10px 20px;

			&:before {
				content: "\f104";
				left: auto;
				right: 0;
			}
		}

		&--check {
			li:before {
				content: "\f00c";
			}
		}

		&--star {
			li:before {
				content: "\f005";
			}
		}

		&--bullet {
			li:before {
				content: "\f192";
			}
		}
	}
}
