$item: '.c-accordion-item';

.c-accordion {
	#{$item} {
		margin: 10px 0 0;

		&.close #{$item}__content {
			display: none;
		}

		&.open #{$item}__title:before {
			content: '–';
		}

		&:first-of-type {
			margin-top: 0;
		}
	}

	#{$item}__title {
		background: none $grey-f9;
		border: 1px solid $grey-d;
		color: $dark;
		cursor: pointer;
		display: block;

		font: {
			size: 15px;
			weight: normal;
		}
		line-height: 21px;
		margin: 0;
		outline: none;
		padding: 15px;;
		position: relative;
		text-decoration: none;
		text-transform: none;
		z-index: 1;

		&:before {
			content: '+';
			display: inline-block;
			font-size: 16px;
			margin-right: 5px;
		}

		&:hover {
			background: none $grey-e;
		}
	}

	#{$item}__content {
		background: $white;
		border: 1px solid $grey-d;
		border-top: none;

		padding: 15px;
		position: relative;
		z-index: 0;

		&.stuckMoveDownOpacity {
			animation: stuckMoveDownOpacity .6s;
		}
	}

	#{$item}__text {
		color: $dark-grey;
		font: {
			size: 16px;
			weight: 400;
		};
		line-height: 1.75;
	}
}

@keyframes stuckMoveDownOpacity {
	0% {
		transform: translateY(-15px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}