.heading-number {
	align-items: center;
	display: flex;
	min-height: 6em;
	padding: 1px 0;
	position: relative;

	&--left {
		justify-content: left;
	}

	&--center {
		justify-content: center;
	}

	&--right {
		justify-content: right;
	}

	&__bg {
		color: $grey-f0;
		font-size: 6em;
		font-weight: 600;
		left: 0;
		line-height: 1;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__context {
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		z-index: 2;
	}

	&__content {
		margin: 0 15px;
	}
}