$dark-red: #cc0000;
$dark-red-second: #de1414;
$brand-red: #E43917;
$light-red: #f24f4f;
$default-green: #1abf3d;
$light-green: #58c649;
$brand-orange: #F39200;
$brand-yellow: #FFBC00;
$white: #fff;
$black: #000;
$dark: #111;
$dark-grey: #333;
$grey: #d2d2d2;
$grey-d: #ddd;
$grey-e: #eee;
$grey-a: #aaa;
$grey-6: #666;
$grey-e9: #e9e9e9;
$grey-f9: #f9f9f9;
$grey-f8: #f8f8f8;
$grey-f2: #f2f2f2;
$grey-f4: #f4f4f4;
$grey-f0: #f0f0f0;
$grey-ed: #ededed;
$grey-ce: #cecece;
$violet: #8035be;